<launch>

	<arg name="camera_A_name" default="A"/>
        <arg name="camera_B_name" default="B"/>
        <arg name="camera_C_name" default="C"/>
        <arg name="camera_D_name" default="D"/>

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find camera_setting)/worlds/multi_view.world"/>
	</include>

	<include file="$(find camera_setting)/launch/camera_setting.launch">
        	<arg name="camera_name" value="$(arg camera_A_name)"/>
		<arg name="x" value="2.5"/>
     		<arg name="y" value="2.5"/>
		<arg name="z" value="2.5"/>
		<arg name="roll" value="0"/>
		<arg name="pitch" value="0.7853"/>
		<arg name="yaw" value="3.9269"/>
	</include>
	

	
	<include file="$(find camera_setting)/launch/camera_setting.launch">
        	<arg name="camera_name" value="$(arg camera_B_name)"/>
		<arg name="x" value="-2.5"/>
     		<arg name="y" value="2.5"/>
		<arg name="z" value="2.5"/>
		<arg name="roll" value="0"/>
		<arg name="pitch" value="0.7853"/>
		<arg name="yaw" value="5.4973"/>
	</include>
	
	
	<include file="$(find camera_setting)/launch/camera_setting.launch">
        	<arg name="camera_name" value="$(arg camera_C_name)"/>
		<arg name="x" value="2.5"/>
     		<arg name="y" value="-2.5"/>
		<arg name="z" value="2.5"/>
		<arg name="roll" value="0"/>
		<arg name="pitch" value="0.7853"/>
		<arg name="yaw" value="2.2933"/>
	</include>
	
	
	
	<include file="$(find camera_setting)/launch/camera_setting.launch">
        	<arg name="camera_name" value="$(arg camera_D_name)"/>
		<arg name="x" value="-2.5"/>
     		<arg name="y" value="-2.5"/>
		<arg name="z" value="2.5"/>
		<arg name="roll" value="0"/>
		<arg name="pitch" value="0.7853"/>
		<arg name="yaw" value="0.7853"/>
	</include>
	

</launch>
