<launch>
    <include file="$(find cricket_lwr_interface)/launch/cricket_lwr.launch">
        <arg name="__main__" value="false"/> 
    </include>
    
    <include file="$(find single_lwr_launch)/launch/single_lwr.launch">
        <arg name="controllers" value="one_task_inverse_kinematics"/> 
        <!-- <arg name="controllers" value="VelocityJointInterface_J1_controller VelocityJointInterface_J2_controller VelocityJointInterface_J3_controller VelocityJointInterface_J4_controller VelocityJointInterface_J5_controller VelocityJointInterface_J6_controller"/>  -->
        <!-- default: joint_trajectory_controller  one_task_inverse_kinematics VelocityJointInterface_trajectory_controller -->
        <!-- VelocityJointInterface_J1_controller VelocityJointInterface_J2_controller VelocityJointInterface_J3_controller VelocityJointInterface_J4_controller VelocityJointInterface_J5_controller VelocityJointInterface_J6_controller -->
        <arg name="use_rviz" value="false"/>
    </include>
    
    <node name="cricket_motion_planning_node" pkg="cricket_motion_planning" type="cricket_motion_planning_node" output="screen"/>

    <!-- <include file="$(find multi_view_plugin)/launch/multi_view.launch"/> -->
    
</launch>
